<!--
  /*
============================================
; Title: Assignment 3.2
; Author: Ashleigh Lyman
; Date: 4 March 2020
; Modified By:
; Description: Client side ejs file for 3.2 exercise logger
;===========================================
*/
-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contact Us</a>
        </li>
    </ul>
</nav>

<div class="container" role="main">
    <br><br>
    <h2>
        <%= message %>
    </h2>

</div>

</body>

</html>
