<table class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Employee #</th>
                <th>Last</th>
                <th>First</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>01</th>
                <td>Bach</td>
                <td>Sebastian</td>
                <td>Musician</td>
            </tr>
            <tr>
                <th>02</th>
                <td>Earhart</td>
                <td>Amelia</td>
                <td>Pilot</td>
            </tr>
            <tr>
                <th>03</th>
                <td>Edison</td>
                <td>Thomas</td>
                <td>Inventor</td>
            </tr>
            <tr>
                <th>04</th>
                <td>Lincoln</td>
                <td>Abraham</td>
                <td>President</td>
            </tr>
            <tr>
                <th>05</th>
                <td>O'Keeffe</td>
                <td>Georgia</td>
                <td>Artist</td>
            </tr>
        </tbody>
    </table>
</table>
